<li class="aw-onestep-groups_item payment-methods">
    <div class="group-title">
        <h2><span class="mark"></span><span data-bind="i18n: 'payment'"></span> <span class="edit-forms" id="edit-form-payment" data-bind="i18n: '(edit)'"></span></h2>
    </div>
    <div class="group-content not-edit-payment">
        <form id="co-payment-form" class="form payments" novalidate="novalidate">
            <input data-bind='attr: {value: getFormKey()}' type="hidden" name="form_key"/>

            <div class="for-payment">
                <!-- ko foreach: getRegion('beforeMethods') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
                <!-- ko foreach: getRegion('methodList') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>

            <div class="for-payment">
                <!-- ko foreach: getRegion('billingAddress') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <!-- ko if: errorValidationMessage().length > 0 -->
            <div class="message notice">
                <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
            </div>
            <!-- /ko -->

        </form>
    </div>
</li>
