//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  //
  //  Login/Register Modal
  //  ---------------------------------------------
  .login-register {
    .modal-inner-wrap {
      width: 35%;
      .modal-content {
        padding: 0 52px 40px;
        .head-title {
          text-align: center;
          margin: 30px 0 65px;
          &.register-modal-head {
            h1::after {
              right: 67px;
            }
          }
          h1 {
            font-size: 22px;
            line-height: 26px;
            font-weight: normal;
            &::after {
              content: '';
              width: 28px;
              height: 3px;
              background-color: @color-red;
              display: inline-block;
              position: relative;
              top: 20px;
              right: 52px;
            }
          }
        }
        .form.create.account,
        .form.password.forget {
          min-width: 0;
          width: 100%;
        }
        .field {
          &.note {
            font-size: 12px;
            line-height: 25px;
            color: @color-gray-text;
          }
          .control {
            input {
              padding: 10px 20px;
              border: 1px solid @color-border-gray;
              border-radius: 4px;
              box-shadow: none;
              font-size: 13px;
              line-height: 28px;
              color: @color-gray-text;
              height: 50px;
            }
          }
        }
        .actions-toolbar {
          text-align: center;
          .secondary {
            margin-bottom: 15px;
            display: block;
            .remind {
              text-decoration: none;
              color: @color-gray-text;
              font-size: 12px;
              line-height: 25px;
            }
            .goback {
              margin-top: 20px;
              color: #000000;
              text-decoration: underline;
              span {
                font-size: 13px;
                line-height: 28px;
              }
            }
          }
          .primary {
            text-align: center;
            display: block;
            float: none;
            .action.facebook {
              margin-top: 10px;
              background-color: #3B5998 !important;
            }
            .action.primary {
              width: 100%;
              background-color: @color-product-btn;
              border-radius: 49px;
              border: none;
              padding: 10px 0;
              span {
                font-size: 13px;
                line-height: 28px;
                text-transform: uppercase;
              }
              &:hover {
                background-color: @color-product-btn;
              }
            }
          }
          .third-action {
            margin-top: 10px;
            .signup {
              color: #000000;
              text-decoration: underline;
              span {
                font-size: 13px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }
  }

  //
  //  Customer Account Address
  //  ---------------------------------------------
  .account {
    .columns {
      .sidebar.sidebar-main {
        margin-top: 120px;
      }
      .column.main {
        .page-title-wrapper {
          margin-bottom: 65px;
          text-align: center;
          h1 {
            font-size: 20px;
            line-height: 23px;
            color: #000000;
            &::after {
              content: '';
              width: 28px;
              height: 3px;
              background-color: @color-red;
              display: inline-block;
              position: relative;
              top: 20px;
              right: 50%;
            }
          }
        }
        .block-dashboard-info {
          margin-bottom: 80px;
          .box-welcome {
            .box-title {
              margin-bottom: 30px;
              color: #000;
              span {
                font-size: 13px;
                line-height: 15px;
                font-weight: normal;
              }
            }
            .box-content {
              font-size: 13px;
              line-height: 15px;
              color: #696969;
            }
          }
          .box-information {
            .box-title {
              margin-bottom: 30px;
              line-height: 16px;
              letter-spacing: 0.02em;
              span {
                font-size: 14px;
              }
            }
            .box-content {
              color: #4A4A4A;
              font-size: 14px;
              line-height: 16px;
              margin-bottom: 30px;
              .icon-user-2:before {
                content: "\e956";
                font-family: 'icomoon' !important;
                margin-right: 10px;
              }
              .icon-Group:before {
                content: "\e955";
                margin-right: 10px;
                font-family: 'icomoon' !important;
              }
            }
          }
          a {
            color: #33C0CB;
            text-decoration: none;
            &:after {
              border-color: #33C0CB;
            }
          }
        }
        .block-dashboard-addresses {
          margin-bottom: 80px;
          .block-title {
            border: none;
            margin-bottom: 10px;
            strong {
              font-weight: bold;
              font-size: 14px;
              text-transform: uppercase;
              line-height: 16px;
            }
            a {
              float: right;
              margin-top: 5px;
            }
          }
          .block-content {
            border: 1px solid #E9E8E8;
            padding: 20px;
            .box {
              .box-title span{
                color: #000;
                font-size: 13px;
                line-height: 15px;
                font-weight: normal;
              }
              .box-content {
                address {
                  color: #696969;
                  line-height: 25px;
                  font-size: 13px;
                  a {
                    color: #696969;
                  }
                }
              }
            }
          }
          a {
            color: #33C0CB;
            text-decoration: none;
            &:after {
              border-color: #33C0CB;
            }
          }
        }
        .block-dashboard-orders {
          .block-title {
            border: none;
            margin-bottom: 30px;
            strong {
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;
            }
            a {
              float: right;
              margin-top: 5px;
            }
          }
          .block-content {
            .table-order-items.recent {
              text-align: center;
              border: 1px solid #E9E8E8 ;
              thead tr th {
                text-align: center;
                border: 1px solid #E9E8E8 ;
                color: #000;
                font-size: 12px;
                line-height: 23px;
                font-weight: normal;
              }
              tbody tr td {
                border-right: 1px solid #E9E8E8;
                border-bottom: none;
                border-top: none;
                border-left: none;
                font-size: 13px;
                line-height: 15px;
                color: #565656;
              }
            }
          }
          a {
            color: #33C0CB;
            text-decoration: none;
            &:after {
              border-color: #33C0CB;
            }
          }
        }
        .block-addresses-default {
          .block-content {
            padding: 8px 20px 20px;
            .box {
              .box-title span{
                color: #000;
                font-size: 13px;
                line-height: 15px;
                font-weight: normal;
              }
              .box-content {
                address {
                  color: #696969;
                  font-size: 13px;
                  line-height: 25px;
                  a {
                    color: #696969;
                    text-decoration: none;
                  }
                }
              }
              .box-actions {
                margin-top: 10px;
                a {
                  color: #33C0CB;
                  text-decoration: none;
                }
              }
            }
          }
        }
        .form-address-edit {
          padding: 8px 20px;
          .legend {
            border: none;
            margin-bottom: 10px;
            span {
              font-size: 13px;
              line-height: 15px;
              color: #000;
            }
          }
          .field {
            margin-bottom: 10px;
            .control {
              input,
              select {
                padding: 6px 17px;
                height: 40px;
                font-size: 13px;
                color: #252525;
                border-color: #DDDDDD;
                box-shadow: none;
                &:focus {
                  border-color: @color-product-btn;
                }
              }
            }
            .label {
              margin: 0;
              font-size: 12px;
              color: #878787;
              line-height: 25px;
              font-weight: normal;
              &:after {
                display: none;
              }
            }
          }
          .actions-toolbar {
            margin-top: 60px;
            .primary {
              .save.primary {
                border: none;
                background-color: @color-product-btn;
                border-radius: 62px;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                padding: 10px 50px;
              }
            }
          }
        }
        .actions-toolbar {
          margin-top: 35px;
          .action.primary.add {
            border: 1px solid #000000;
            border-radius: 62px;
            background-color: #ffffff;
            padding: 10px 32px;
            margin-left: 20px;
            span {
              font-size: 12px;
              line-height: 14px;
              color: #000000;
              font-weight: normal;
            }
          }
        }
        //sa texapoxel
      }
    }
  }
}