@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?10vmt2');
    src:  url('../fonts/icomoon.eot?10vmt2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?10vmt2') format('truetype'),
    url('../fonts/icomoon.woff?10vmt2') format('woff'),
    url('../fonts/icomoon.svg?10vmt2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}